@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

:root {
  --primary-color: #0dafd8;
  --dark-color: #333;
  --black-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Exo 2', sans-serif;
  line-height: 1.6;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 0 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
}

.list-item {
  margin-bottom: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  transition: opacity 0.2s ease;
}

.my-1 {
  margin: 1rem 0;
}

.center {
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
}

nav ul {
  display: flex;
}

nav a {
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.auth-div {
  font-size: 0.8rem;
  cursor: pointer;
}

.log-page {
  position: relative;
}

.toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 5px;
  font-size: 0.8rem;
}

.banner-title {
  padding: 2rem 0;
}

.log-list {
  max-width: 20rem;
  margin: auto;
  text-transform: capitalize;
}


