@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

:root {
  --primary-color: #0dafd8;
  --dark-color: #333;
  --black-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Exo 2', sans-serif;
  line-height: 1.6;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 0 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
}

.list-item {
  margin-bottom: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  transition: opacity 0.2s ease;
}

.btn:hover {
  opacity: 0.8;
}

.my-1 {
  margin: 1rem 0;
}

.center {
  text-align: center;
}

.ttc {
  text-transform: capitalize;
}

.ttu {
  text-transform: uppercase;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
}

nav ul {
  display: flex;
}

nav a {
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
}

.auth-div {
  cursor: pointer;
}

.log-page {
  position: relative;
}

.banner-title {
  padding: 2rem 0;
}

.log-list {
  max-width: 20rem;
  margin: auto;
}

.post-form {
  width: 70vw;
  max-width: 650px;
  margin:  auto;
  padding: 1.5rem;
  border: 2px solid #888;
}

.post-form h2 {
  margin-bottom: 2rem;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid #ccc
}

input[type='submit'],
.post-form button {
  font: inherit;
  display: block;
  width: 100%;
  margin-top: 2rem;
  color: inherit;
}


